@model DonorCentar.ViewModels.KorisnikVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Administrator.cshtml";
}
<div class="content-box">

    <div id="profil">
        @await Html.PartialAsync("_ProfilAdmin")
    </div>
</div>

