@model DonorCentar.ViewModels.KorisnikVM;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Partner.cshtml";
}
<div class="content-box">

    <div id="profil">
        @await Html.PartialAsync("_Profil")
    </div>
</div>
