@{
    ViewData["Title"] = "O nama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="onama-content">
    <h1 class="title">DonorCentar</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/onama-1.jpg" alt="" />
            </div>
            <div class="col-md-6 px-5">
                <h1 class="mt-4">O nama...</h1>
                <p>DonorCentar je jednostavan i pristupačan on-line alat za prikupljanje donacija za društvenokorisne projekte i organizacije civilnog društva koje ih provode na području cijele Bosne i Hercegovine.</p>
                <p>Implementacijom navedenog projekta omogućilo bi se jednostavno i brzo koordinisanje donacijama na nivou određenog područja, u ovom slučaju države. Potreba za razvijanjem DonorCentra proizilazi iz generalne drušvene neaktivnosti i neučestvovanja građana u socijalno korisnom radu.</p>
                <p>Niz funkcionalnosti DonorCentra na nivou pogleda donora podrazumjeva i unos i formulisanje donacije, te mogućnost pronalaska odgovarajućeg transporta za definisanu donaciju.</p>

            </div>
        </div>
    </div>
</div>
